# Topic 3 Classwoek -- Bin Linsheng

## Methods of String

In [3]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
s= "hello, world 123!"
s.isalpha(), s.isalnum()

(False, False)

In [6]:
s= "123"
s.isalnum()

True

In [7]:
s= "hello123"
s.islower()

True

In [8]:
s="hello 1 2, 34, 21"
s.find('34')

11

In [9]:
s[11:13]

'34'

In [10]:
s.find('world') >=0

False

In [11]:
s.count('1')

2

In [12]:
'hello' in s

True

In [13]:
filename= 'portrain. jpg'
filename.endswith('.jpg')

False

In [14]:
s= 'Hello, world!'
s=s.replace('world','China')
s

'Hello, China!'

In [16]:
phone =' 020 132432 0500   '
phone.strip()

'020 132432 0500'

In [17]:
phone.lstrip('#')

' 020 132432 0500   '

In [18]:
s="hello, world"
s.upper()

'HELLO, WORLD'

In [19]:
s.title()

'Hello, World'

In [20]:
s.capitalize()

'Hello, world'

In [21]:
s='BYD'
s.ljust(30, '=')

'BYD==========================='

In [22]:
s.rjust(30, '*')

'***************************BYD'

In [23]:
s.center(30, '*')

'*************BYD**************'

In [24]:
s="+86-010-12345678"
s.split('-')

['+86', '010', '12345678']

In [25]:
s2=['+86', '010', '12345678']
'-'.join(s2)

'+86-010-12345678'

In [28]:
s1= 'hello'
s2= 'world' 
s1+' '+ s2

'hello world'

In [29]:
s1*3

'hellohellohello'

## Complex Data Types
### List

In [30]:
lst=[1, 'Hello', 3.14, [True, 4, 'A']]
lst

[1, 'Hello', 3.14, [True, 4, 'A']]

In [31]:
lst[-1][1:][-1].lower()

'a'

In [32]:
lst[1]=lst[1].lower()

In [33]:
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
scores1=[35,57,82,78]
score=86
scores1.append(score)
scores1

[35, 57, 82, 78, 86]

In [35]:
scores1= [35,57,82,78]
scores2= [86,92,77]
scores1.extend(scores2)
scores1

[35, 57, 82, 78, 86, 92, 77]

In [36]:
scores1=[35,57,82,78]
score= 86
scores1.insert(0,score)
scores1

[86, 35, 57, 82, 78]

In [37]:
scores1= [35,57,82,78]
scores2= [86,92,77]
scores1.insert(1,scores2)
scores1

[35, [86, 92, 77], 57, 82, 78]

In [38]:
scores1=[35,57,82,78]
scores1.pop(1)
scores1

[35, 82, 78]

In [39]:
scores1=[35,57,82,78]
scores1.clear()
scores1

[]

In [40]:
scores1=[35,57,82,78]
92 in scores1

False

In [41]:
scores1=[35,57,82,78,42,57]
scores1.count(92)

0

In [44]:
scores1= [35,57,82,78,42,57]
scores1.index(57, 2)

5

In [45]:
scores1=[35,57,82,78,42,57]
scores1.sort()
scores1.sort(reverse=True)
scores1

[82, 78, 57, 57, 42, 35]

In [46]:
names = ['zhang', 'Li', 'Wu', 'Qian']
names.sort()
names

['Li', 'Qian', 'Wu', 'zhang']

In [47]:
names = ['zhang', 'Li', 'Wu', 'Qian']
names.sort(key=len)
names

['Li', 'Wu', 'Qian', 'zhang']

In [48]:
scores_a=[76,48,82]
scores_b=scores_a
scores_a, scores_b

([76, 48, 82], [76, 48, 82])

In [49]:
scores_b[1]=58
scores_b

[76, 58, 82]

In [50]:
score_a=78.2
score_b=score_a
score_b=88.2
score_a, score_b

(78.2, 88.2)

In [51]:
scores_a=[76,48,82]
scores_b=scores_a[:]#scores_a.copy()
scores_b[1]=58
scores_a, scores_b

([76, 48, 82], [76, 58, 82])

### Tuple

In [52]:
tpl=(1, 'abc', 3.2, 1)
tpl.count(1)

2

In [53]:
tpl.index(3.2)

2

In [54]:
i,s,f,i_2=tpl
i,s,f,i_2

(1, 'abc', 3.2, 1)

In [55]:
tpl=(1, 'abc', 3.2, 1)
i,*left,i_2=tpl
i,left

(1, ['abc', 3.2])

### Dictionary

In [56]:
dct={'Jack':76, 'Tom':56,'Mike':85}
dct

{'Jack': 76, 'Tom': 56, 'Mike': 85}

In [57]:
dct2=dict([('Jack',76),('Tom',56),('Mike', 85)])
dct2

{'Jack': 76, 'Tom': 56, 'Mike': 85}

In [77]:
names=('Jack', 'Tom', 'mike')
scores=[76, 56, 85]
dct3=dict(zip(names,scores))
dct3

{'Jack': 76, 'Tom': 56, 'mike': 85}

In [78]:
dct['Tom']=dct3['Tom']+5
dct

{'Jack': 76, 'Tom': 61, 'Mike': 85}

In [79]:
dct3['Rose']=83
dct3

{'Jack': 76, 'Tom': 56, 'mike': 85, 'Rose': 83}

In [80]:
dct3.pop('mike')

85

In [81]:
dct3.popitem()

('Rose', 83)

In [82]:
dct3

{'Jack': 76, 'Tom': 56}

In [83]:
dct3.keys()

dict_keys(['Jack', 'Tom'])

In [84]:
dct3.values()

dict_values([76, 56])

In [85]:
dct3.items()

dict_items([('Jack', 76), ('Tom', 56)])

In [86]:
dct3.get('Zhao','No record')

'No record'

In [87]:
dct4={'Zhao':85, 'Li':62, 'Tom':61}
dct3.update(dct4)
dct3

{'Jack': 76, 'Tom': 61, 'Zhao': 85, 'Li': 62}

### Set

In [88]:
s={1,3,1,5,7}
s

{1, 3, 5, 7}

In [89]:
sa={1,3,5,7}
sb={2,4,3,8}
sa&sb

{3}

In [90]:
sa|sb

{1, 2, 3, 4, 5, 7, 8}

In [91]:
sa^sb

{1, 2, 4, 5, 7, 8}

In [92]:
sa-sb

{1, 5, 7}

In [93]:
set([1,3,1,5])

{1, 3, 5}

In [94]:
a=[3,5,7,9]
b=[3,9]
list(set(a)-set(b))

[5, 7]